body{
    background-image: url(fondo.jpg);
    background-position: center;
  }

h1{
    text-align: center;
    font-family: cursive;
}

input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

button{
  border-radius: 20px;
}

#info{
    
  padding: 2rem 0;
  opacity: 70%;
}
  
.row{width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.cardTitulo{
  display: inline-block;
  width: 40%;
  background-color: rgb(82, 82, 82);
  position: relative;
  opacity: 80%;
  align-content: center;
  margin-left: 30%;
  border-radius: 15px;

}

.card{display: inline-block;
  width: 45%;
  padding: 4rem 1rem 7rem 1rem;
  background-color: rgb(82, 82, 82);
  position: relative;
  border-radius: 15px;
}
  
  
  h2{color: snow;
    margin-bottom: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
    
  p{color: snow;
    font-size: 1.1rem;
    line-height: 140%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  text-align: center;
  margin: 0px;
  height:50px;
  line-height:50px;
  left:0;
}

footer a{
  color: white;
}
    
  